.container {
   h2 {
      cursor: pointer;   
      border: 1px solid #ddd;
      display: inline-block;
      background-color: var(--light);
      border-radius: 5px;
      padding:5px;
     
   }
}

.left-menu {
   min-height: 100vh;
   padding-top: 3%;
   width: 15%;
   border: 1px solid var(--gray);
   background-color: var(--light);
   box-shadow:#f8f9fa;
   border-radius: 5px;
   color: var(--light);
   font-weight: bold;

   .list-group>li {
      width: 20vh;
      margin-bottom: 3%;
      background-color: var(--secondary);
      border-radius: 2px;
      font-size: small;
      color: black;

   }

   cursor: pointer;
}

.right-menu {
   width: 70%;
    border: 1px solid var(--gray);
   background-color: var(--light);
   border-radius: 5px;
   font-weight: bold;
   font-size: large;
}

.menu {
   display: flex;
   flex-direction: row;
}

@media (max-width:769px) {
h2{
   font-size: small;
}
   .menu {
      display: flex;
      flex-direction: column;
       font-size: small;

      .left-menu {
         width: 100%;
         min-height: auto;

         .list-group {
            display: flex;
            flex-direction: row;
            gap: 1.1rem;

            li {
               background-color: var(--secondary);
               border-radius: 2px;
               font-size: small;
            }
         }

      }

      .right-menu {
         width: 100%;
          font-size: small;
      }
   }



}