@media (max-width:769px) {
h2{
   font-size: small;
}
   .menu {
      display: flex;
      flex-direction: column;
       font-size: small;

      .left-menu {
         width: 100%;
         min-height: auto;

         .list-group {
            display: flex;
            flex-direction: row;
            gap: 1.1rem;

         }

      }

      .right-menu {
         width: 100%;
          font-size: small;
      }
   }



}