.container {
   h2 {
      cursor: pointer;
      border: 1px solid #ddd;
      display: inline-block;
      background-color: var(--light);
      border-radius: 5px;
      padding: 5px;
   }
   }
.left-menu {
   padding: 0 2% 0 2%;
   min-height: 100vh;
   padding-top: 3%;
   width: 20%;
   border: 1px solid var(--gray);
   background-color: var(--light);
   box-shadow: #f8f9fa;
   border-radius: 5px;
   color: var(--light);
   font-weight: bold;
   cursor: pointer;
}

.right-menu {
   width: 80%;
   border: 1px solid var(--gray);
   background-color: var(--light);
   border-radius: 5px;
   font-weight: bold;
   
}

.menu {
   display: flex;
   flex-direction: row;

}

@media (max-width:769px) {
   h2 {
      font-size: small;
   }
     .left-menu {
         width: 20%;
         min-height: auto;
         padding: 5px;

      }
      .right-menu {
         width:100%;
         font-size: small;
         padding-bottom: 16px;
      }

   .menu {
      display: flex;
      flex-direction: column;
      font-size: small;
      
   }

}