:root {
    --primary-color: #3ABCF8;
    --secondary-color: #D2FEF6;
    --accent-color: #ffc107;
    --success-color: #28a745;
    --danger-color: #dc3545;

    --font-family : 'Goblin One' Tahoma, Geneva, Verdana, sans-serif;

    --background-color:#dadee4;
    
}

