
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  


  .logo >a {
    display: flex;
    align-items: center;
    

    img {
      height: 60px;
      margin-right: 10px;
      border-radius: 2px;
    }

    h1 {
      color: var(--light);
      margin: 0;
    }
  }
}

.main-nav {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  gap: 1rem;
  align-items: flex-end;

  a {
    color: var(--dark);
    text-decoration: none;
    font-size: medium;
  }

}

.main-nav.open {
  display: flex;
}

.account-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  gap: 0.5rem;
}

.account-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.logout-button {
  margin-top: 5px;
  background: #ff5c5c;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.user {
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: var(--dark);
  padding: 5px 0;
  font-size: small;
}


.hamburger {
  background-color: transparent;
  margin-left: 1rem;
  width: 4rem;
  background: none;
  font-size: 28px;
  border: none;
  color: white;
  cursor: pointer;
}


@media (min-width: 769px) {
  .main-nav {
    display: flex !important;
    flex-direction: row;
    position: static;
    background: none;
    box-shadow: none;
    padding: 0;

  }

  
  .main-nav a {
    margin-left: 20px;
    color: white;
    display: flex;
    flex-direction: row;
  }

  .account-info {
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
  }

  .logout-button {
    margin-left: 10px;
  }

  .hamburger {
    display: none;
  }
 
 
}